<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="minio" type="SixpenceStudio.Core.SysFile.Minio.MinIOSection, SixpenceStudio.Core" />
    <section name="store" type="SixpenceStudio.Core.Store.StoreSection, SixpenceStudio.Core" />
    <section name="shorturl" type="SixpenceStudio.Core.ShortUrl, SixpenceStudio.Core" />
    <section name="wechat" type="SixpenceStudio.WeChat.WeChatSection, SixpenceStudio.WeChat" />
  </configSections>

  <!-- minIO 配置 -->
  <minio endpoint="" accessKey="" secretKey="" secure=""></minio>

  <!-- 描述：配置文件存储地址
    temp：临时文件存储目录
    storage：文件存储目录
   -->
  <store type="SystemStore" temp="E:\\temp" storage="E:\\storage"></store>

  <!-- 短链接配置-->
  <shorturl url=""></shorturl>

  <!-- 微信公众号配置 -->
  <wechat token="" appid="" secret="" encodingAESKey=""></wechat>
</configuration>