<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="minio" type="SixpenceStudio.Core.SysFile.Minio.MinIOSection, SixpenceStudio.Core" />
    <section name="store" type="SixpenceStudio.Core.Store.StoreSection, SixpenceStudio.Core" />
    <section name="shorturl" type="SixpenceStudio.Core.ShortUrl, SixpenceStudio.Core" />
    <section name="db" type="SixpenceStudio.Core.Data.DBClient.DBSection, SixpenceStudio.Core" />
    <section name="wechat" type="SixpenceStudio.WeChat.WeChatSection, SixpenceStudio.WeChat" />
  </configSections>

  <!-- minIO 配置 -->
  <minio endpoint="" accessKey="" secretKey="" secure=""></minio>

  <!-- 描述：配置文件存储地址
    type：存储方式（SystemStore、MinIOStore）
    temp：临时文件存储目录
    storage：文件存储目录
   -->
  <store></store>

  <!-- 短链接配置-->
  <shorturl url=""></shorturl>

  <!-- 微信公众号配置 -->
  <wechat token="" appid="" secret="" encodingAESKey=""></wechat>
  
  <!--数据库配置
    name：主从（Main、StandBy）
    driverType：驱动类型（Postgresql、Mysql）默认Postgresql
    value：数据库连接字符串（加密）
  -->
  <db>
    <sources>
      <add name="Main" driverType="Postgresql" value="lJwYM8WS49VlHJb6AgDH5dy/mrEn3zalQHCdy3VexHvDktNj43zunag66IVOfMRBFX1mhbMV7ES41fEXfjrE8Q=="></add>
      <add name="StandBy" value=""></add>
    </sources>
  </db>
</configuration>